$breakpoint-tablet: 768px;

/* You can add global styles to this file, and also import other style files */
*{box-sizing: border-box;}
html, body { height: 100%; }
body { margin: 0; padding: 1em; font-family: Roboto, "Helvetica Neue", sans-serif; }
img{max-width: 100%;}
@media (min-width: $breakpoint-tablet) {
 body { margin: 0; padding: 5em; font-family: Roboto, "Helvetica Neue", sans-serif; }
}
